
.wrap {
	width: 1900px;
	height: 2350px;
	padding: 0;
	overflow: hidden;
}


.frame {
	width: 1500px;
	height: 3600px;
	border: 0px solid black;
	overflow:hidden;
}

.frame {
	-ms-zoom: 0.70;
	-moz-transform: scale(0.70);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.70);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.70);
	-webkit-transform-origin: 0 0;
}
